# Toggl API
TOGGL_API_TOKEN=YOUR_TOGGL_API_TOKEN
TOGGL_WORKSPACE_ID=YOUR_TOGGL_WORKSPACE_ID
TOGGL_API_URL=https://api.track.toggl.com/api/v9/

# Redmine API
REDMINE_TOKEN=YOUR_REDMINE_TOKEN
# Ensure the URL ends with a trailing slash
REDMINE_API_URL=https://redmine.saboit.de/
DEFAULT_PROJECT=NAME_OF_YOUR_DEFAULT_PROJECT
MYISSUES_QUERY_IDS=COMMA_SEPARATED_REDMINE_QUERY_IDS

# Activities map (JSON string)
ACTIVITIES_MAP={"_default":"management","administration":48,"analysis/specification":10,"call/meeting":62,"controlling":53,"deployment":15,"design":8,"development":9,"documentation/revision":14,"hiring/hr_management":16,"maintenance/support":13,"management":11,"marketing":52,"other":49,"sales":47,"self study":58,"testing":12,"travel":57,"non billable":64}

# Jira API (required for import-jira-issue command)
# Set to the base URL of your Jira instance (without /rest/api/3 path)
JIRA_API_URL=https://your-domain.atlassian.net
JIRA_API_KEY=YOUR_JIRA_API_TOKEN
